<!DOCTYPE html>
<html>

<head>
    <style>
        html,
        body {
            height: 100%;
            overflow: hidden;
        }

        /* avoid vertical scroll bar at loading time on windows */
        html::-webkit-scrollbar {
            display: none;
        }

        @keyframes splash-fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .splash {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
            animation: 0.3s splash-fadein;
            padding-bottom: 7rem;
            color: rgba(0, 0, 0, 0.6)
        }

        .dark-splash {
            color: white;
        }
    </style>
    <meta charset="utf-8">
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <!-- Add `node_modules/` to global paths so `require` works properly in development -->
    <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, "\\\\") %>')
    </script>
    <% } %>
</head>

<body>
    <div class="splash">
        <span style="font-size:3.5rem;font-weight:200;">VeChain</span>
        <span style="font-size:4rem;color:rgb(42, 64, 163)">Sync</span>
    </div>
    <script>
        if (require('electron').remote.app.EXTENSION.mainSettings.get('dark-theme')) {
            document.querySelector('.splash').classList.add('dark-splash')
        }
    </script>
    <div id="nova"></div>
    <!-- webpack builds are automatically injected -->
</body>

</html>