name: Release new version

on:
  push:
    tags:
    - 'v*'

jobs:
  create-gh-release:
    runs-on: ubuntu-latest
    steps:
      - name: Create Release 
        # as electron-builder needs draft to upload artifacts, create once
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true

  release-electron:
    needs: create-gh-release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-18.04, windows-latest]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '10'

      - name: Install libs on ubuntu
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt install -y libusb-1.0-0-dev libudev-dev

      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
      
      - name: Install Dependencies
        run: npm ci

      - name: Setup macOS Notarization env
        if: contains(matrix.os, 'mac')
        run: |
          rm -fr ~/private_keys && mkdir ~/private_keys
          echo $APPLE_AUTH_PRIVATE_KEY | base64 -D > ~/private_keys/AuthKey_${APPLE_API_KEY}.p8
        env:
          APPLE_AUTH_PRIVATE_KEY: ${{secrets.APPLE_AUTH_PRIVATE_KEY}}
          APPLE_API_KEY: ${{secrets.APPLE_API_KEY}}

      - name: Build and Release
        run: npm run build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CSC_LINK: ${{ secrets.CSC_LINK }} 
          CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }} 
          WIN_CSC_LINK: ${{ secrets.WIN_CSC_LINK }} 
          WIN_CSC_KEY_PASSWORD: ${{ secrets.WIN_CSC_KEY_PASSWORD }} 
          APPLE_API_KEY: ${{ secrets.APPLE_API_KEY }} 
          APPLE_API_ISSUER: ${{ secrets.APPLE_API_ISSUER }}
